<body>
    <!-- ******HEADER****** -->
    <header class="header">
        <div class="container">
            <img class="profile-image img-responsive pull-left" src="<%= asset_path('profile.jpg') %>" alt="Jacky Lee" />
            <div class="profile-content pull-left">
                <h1 class="name">Jacky Lee</h1>
                <h2 class="desc">Full-Stack Web Developer</h2>
                <ul class="social list-inline">
                    <li><a href="http://hk.linkedin.com/in/jackywhlee" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/jackywhlee" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://twitter.com/jackywhlee" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/pewpew87" target="_blank"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div><!--//profile-->
            <a class="btn btn-cta-primary pull-right" href="mailto:jackywhlee@gmail.com"><i class="fa fa-envelope"></i> Contact Me</a>
        </div><!--//container-->
    </header><!--//header-->


    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">About Me</h2>
                        <div class="content">
                            <p>Norwegian born Chinese moved to Hong Kong three years ago in search of a better life. Earned my degree in the United Kingdom, worked at different industries from editorial to accountancy before discovering coding schools existed. Proceeded to sign up for the <a href="https://generalassemb.ly/education/web-development-immersive">Web Development Immersive (WDI) with General Assembly</a> after meeting the lead instructor Fer Martin at campus.</p>

                            <p>I graduated from the WDI program on December 2015, built four projects using various libraries including Ruby on Rails, NodeJs, Angular, Jquery, HTML, CSS, Javascript, SQL, and some more. This had been tougher than reliving the Red Wedding in my head, but the most important thing I had taken home from WDI, is the skill to pick-up new languages and the courage to explore new libraries.</p>

                            <p>Work aside, I'm a heavy reddit user. I consume a ton of news and follow current affairs very closely, and am curious about cybersecurity - especically Blockchain used by Bitcoin. I do leave my room once in a while, checkout out new rooftop bars around HK Island.</p>

                            <p>Did I mention I'm looking for work? You're more than welcome to shoot me an email at <a>jackywhlee@gmail.com</a>.</p>

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

               <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">Latest Projects</h2>
                        <div class="content">

                            <div class="item featured text-center">
                                <h3 class="title"><a href="https://trustmeabit.herokuapp.com" target="_blank">TrustMeABit</a></h3>
                                <p class="summary">Create your own Bitcoin wallet to send and receive Bitcoins</p>
                                <div class="featured-image">
                                    <a href="<%= asset_path('project-4.png') %>" target="_blank">
                                    <img class="img-responsive project-image" src="<%= asset_path('project-4.png') %>" alt="project name" />
                                    </a>
                                    <div class="ribbon">
                                        <div class="text">New</div>
                                        </div>
                                    </div>

                                <div class="desc text-left">
                                    <p>As my fourth and final project, I had always wanted to slap different technologies together, and understanding Bitcoin/Blockchain technology was a topic I personally wanted to learn more about. This project was built using Ruby on Rails with Angular. The idea behind this project, is to fund journalists and reporters anonymously through Bitcoins. Say, reporters covering human rights laywers in China may require funding, and you know, there are folks out there in the West who's very pro Freedom of Speech, and are more than willing to help these reporters out - anonymously. And with the nature of Bitcoin + a correct setup, transactions are untraceable.</p>
                                    <p>Users who signs up on TrustMeABit can generate a unique Bitcoin wallet address and a unique public profile page for them to  share underneath their Twitter/Weibo biography, allowing users to visit their TrustMeABit public profile and fund them with Bitcoins through either their own Bitcoin wallet, or sign up on TrustMeABit to do so.</p>
                                </div><!--//desc-->
                                <p><a class="more-link" href="https://trustmeabit.herokuapp.com" target="_blank"><i class="fa fa-external-link"></i> Visit this website</a></p>
                            </div><!--//item-->
                            <hr class="divider" />
                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" href="<%= asset_path('project-3.png') %>" target="_blank">
                                <img class="img-responsive project-image" src="<%= asset_path('project-3.png') %>" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="http://general-developers.herokuapp.com" target="_blank">General Developers - a BitTorrent library for coding purposes</a></h3>
                                    <p>I've always been a heavy Torrent user, and creating my personal BitTorrent website as my third project using NodeJS and MongoDB proved rewarding and fun. I learned to use the s3fs library, which allowed me to upload files onto Amazon Web Services. File upload had always been tricky here at GA for some reason, and accomplishing this feat on NodeJS was especially awesome.</p>
                                    <p>Users are able to register through the website's registration system, or via Facebook/Github. Only registered users are allowed to upload .torrent files onto this website, allowing anyone to download the uploaded .torrent file to be used with a BitTorrent client.</p>
                                    <p><a class="more-link" href="http://general-developers.herokuapp.com" target="_blank"><i class="fa fa-external-link"></i> Visit this website</a></p>
                                </div><!--//desc-->
                            </div><!--//item-->

                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" href="<%= asset_path('project-2.png') %>" target="_blank">
                                <img class="img-responsive project-image" src="<%= asset_path('project-2.png') %>" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="http://sushi-me-away.herokuapp.com" target="_blank">SushiMeAway! - Find your nearest sushi takeout</a></h3>
                                    <p>As a group project, I teamed up with Toni to build a sushi directory website that specializes in takeouts. The website is built using Ruby on Rails and Postgresql, and registered users can post comments and rate our sushi listings. As a group project, we learned using Github extensively, and much hardwork had been lost due to conflicting branches and merges - which proved to be a very valuable lesson as we continued on with WDI with a better understanding of Github.
                                    <p><a class="more-link" href="http://sushi-me-away.herokuapp.com/" target="_blank"><i class="fa fa-external-link"></i> Visit this website</a></p>
                                </div><!--//desc-->
                            </div><!--//item-->

                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" href="<%= asset_path('project-1.png') %>" target="_blank">
                                <img class="img-responsive project-image" src="<%= asset_path('project-1.png') %>" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="http://wdi-hk-9.github.io/MBTI-GoT/" target="_blank">Which GoT Character are you? - Based on the MBTI test</a></h3>
                                    <p>Creating my first website using HTML5+CSS3 with javascript logic was traumatic. After hours of consideration, I decided to create a quiz game based on the Meyers Brigs Type Indicator test, since I had taken it as part of a screening process before I was accepted into an accountancy firm. I broke down the MBTI test and analyzed the formula, how its questions added points, and designed a similar test. After a series of 60 questions, the quiz will determine which Game of Thrones character (our of 16 possible outcomes) you're most similar with.  </p>
                                    <p><a class="more-link" href="http://wdi-hk-9.github.io/MBTI-GoT/" target="_blank"><i class="fa fa-external-link"></i> Visit this website</a></p>
                                </div><!--//desc-->
                            </div><!--//item-->

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">

                <aside class="skills aside section">
                <div class="section-inner">
                  <h2 class="header-title-bold">Skills</h2>
                  <div class="skills-summary">
                    <p>A Full-Stack web developer who picked up one too many skills, and is deciding whether Ruby on Rails or NodeJS is best suited for him. </p>
                  </div>
                  <div class="skills-tags">
                    <h3>Languages</h3>
                    <div>Full-Stack Web Development</div>
                    <div>Ruby on Rails</div>
                    <div>NodeJS</div>
                    <div>Javascript, AngularJS, jQuery &amp; Ajax</div>
                    <div>PostgreSQL &amp; MongoDB</div>
                    <div>HTML5, CSS3, &amp; Bootstrap</div>
                    <div>Web Scraping</div>
                    <div>Gems &amp; Bower</div>
                    <div>JSON</div>
                    <div>API</div>
                  </div>
                  <div class="skills-tags">
                    <h3>Learning</h3>
                    <div class="learning">Ionic</div>
                    <div class="learning">Firebase</div>
                  </div>
                  <div class="skills-tags">
                    <h3>Extras</h3>
                    <div class="extras">GitHub</div>
                    <div class="extras">Heroku</div>
                    <div class="extras">Amazon Web Services</div>
                    <div class="extras">Ubuntu</div>
                  </div>
                </div>
                </aside>

                <aside class="experiences aside section">
                <div class="section-inner">
                  <h3 class="header-title-bold">Education / Experiences</h3>
                  <div class="experiences-content">
                    <div class="experience">
                      <h5><i class="fa fa-graduation-cap"></i> Web Development Immersive</h5>
                      <h6 class="work-desc-font">General Assembly, Hong Kong <br><span>(Sept 2015 - Dec 2015)</span></h6>
                    </div><br>
                    <div class="experience">
                      <h5><i class="fa fa-briefcase"></i> Account Executive</h5>
                      <h6 class="work-desc-font">Hamilton Advisors, Hong Kong <br><span>(May 2015 - Aug 2015)</span></h6>
                    </div><br>
                    <div class="experience">
                      <h5><i class="fa fa-briefcase"></i> Internal Auditor, Associate</h5>
                      <h6 class="work-desc-font">BDO Limited, Hong Kong <br><span>(Sept 2012 - Aug 2015)</span></h6>
                    </div><br>
                    <div class="experience">
                      <h5><i class="fa fa-briefcase"></i> Editorial Assistant</h5>
                      <h6 class="work-desc-font">Time Out Hong Kong <br><span>(Jul 2012 - Sept 2012)</span></h6>
                    </div><br>
                    <div class="experience">
                      <h5><i class="fa fa-graduation-cap"></i> BA Hons Media, Culture and Society</h5>
                      <h6 class="work-desc-font">Hull University, United Kingdom <br><span>(2008 - 2011)</span></h6>
                    </div>
                  </div>
                </div>
                </aside>

                <aside class="languages aside section">
                  <div class="section-inner">
                  <h2>Languages</h2>
                  <div class="language-content">
                    <ul class="list-unstyled">
                      <li class="language">
                        <span><strong>English: </strong></span>
                        <span>Native Speaker <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                      </li>
                      <li class="language">
                        <span><strong>Cantonese: </strong></span>
                        <span>Native Speaker <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                      </li>
                      <li class="language">
                        <span><strong>Norwegian: </strong></span>
                        <span>Native Speaker <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
                      </li>
                      <li class="language">
                        <span><strong>Mandarin: </strong></span>
                        <span>Socially Competent <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                      </li>
                      <li class="language">
                        <span><strong>Japanese: </strong></span>
                        <span>Socially Competent <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
                      </li>
                    </ul>
                  </div>
                </div>
                </aside>

            </div><!--//secondary-->
        </div><!--//row-->
    </div><!--//masonry-->

    <!-- ******FOOTER****** -->
    <footer class="footer">
        <div class="container text-center">
                <span>Website by</span> Jacky Lee <span>referencing from</span> <a class="reference" href="http://themes.3rdwavemedia.com">Xiaoyin Riley</a>
        </div><!--//container-->
    </footer><!--//footer-->
</body>
